---
import MySiteLayout from '../layouts/layout.astro';
import {poster, url} from '../datas/sintel.json';
var title = "Test de Alchimie player NoPlugin"
---
<MySiteLayout title={title}>  
    <link href="/noplugin/alchimie-player.css" rel="stylesheet">
    <div id="player" class="player"></div>
    <script is:inline src="/noplugin/alchimie-player.js?i=1675073319"></script>
    <script is:inline define:vars={{ poster,url}}>
        var playlist = [];
        var vod = {
            poster: poster,
            sku: "1:1:1",
            title: "Test sintel",
            src: url,
            type: "application/x-mpegURL"

        };
        playlist.push(vod);
        alchimiePlayer = new AlchimiePlayer(
        document.querySelector('#player'),
        {
          inHomepage: true,
          playlist: {
              list: playlist,
          },
          stats: {
                siteId: '3913',
                visitToken: 'AAABj132HoHwAODjFNPQK1D9',
                vista: {enable:false},
                youbora: {enable:false}

          },
          autoplay: true,
          index: 0,
          isLive: false,
          playsInline: false,
          zapping: false,
          chromecast: {
            appId: typeof (chromecastAppId) != 'undefined' ? chromecastAppId : '12D74D37',
          },
          csa: undefined,
          appError: false,
          appErrorCode: "Code 001" ,
          appErrorMessage: "Message erreur",
          
      }
    );

    </script>
</MySiteLayout>

