---
import MySiteLayout from '../layouts/layout.astro';
import {poster, url} from '../datas/sintel.json';
var title = "Test de Alchimie player Prod"
---
<MySiteLayout title={title}>  
    <link href="https://www.armystories.tv/default/js/player-v3/alchimie-player.css" rel="stylesheet">
    <div id="player" class="player"></div>
    <script is:inline src="https://www.armystories.tv/default/js/player-v3/alchimie-player.js?i=1642772851"></script>
    <script is:inline define:vars={{ poster,url}}>
        var playlist = [];
        var vod = {
            poster: poster,
            sku: "1:1:1",
            title: "Test sintel",
            src: url,
            type: "application/x-mpegURL",
            keySystems: {
            'com.apple.fps.1_0': {
                certificateUri: 'https://fp-keyos.licensekeyserver.com/cert/4878cb06e94dbdec89d1bafe26afa560.der',
                getContentId: function (emeOptions, initData) {
                  var contentId = arrayToString(initData);
                  console.log('!!run getContentId');
                  if (contentId.indexOf("skd://") > -1)
                    return contentId.split("skd://")[1].substr(0, 32);
                  throw 'Invalid Content ID format. The format of the Content ID must be the following: skd://xxx where xxx is the Key ID in hex format.';
                },
                getLicense: function (emeOptions, contentId, keyMessage, callback) {
                  console.log('!!run getLicense');
                  var data = 'spc=' + base64EncodeUint8Array(keyMessage) + '&assetId=' + contentId;
                  $.ajax({
                    url: 'https://fp-keyos.licensekeyserver.com/getkey',
                    type: 'POST',
                    data: data,
                    headers: {
                      'customdata': cle,
                    },
                    contentType: 'application/x-www-form-urlencoded',
                    success: function (result) {
                          callback(null, base64DecodeUint8Array(result));
                    },
                    error: function (err) {
                      callback(err);
                    }
                  });
                }
              }            
          }

        };
        playlist.push(vod);
        alchimiePlayer = new AlchimiePlayer(
        document.querySelector('#player'),
        {
          inHomepage: true,
          playlist: {
              list: playlist,
          },
          stats: {
                siteId: '3913',
                visitToken: 'AAABj132HoHwAODjFNPQK1D9',
                vista: {enable:false},
                youbora: {enable:false}

          },
          autoplay: true,
          index: 0,
          isLive: false,
          playsInline: false,
          zapping: false,
          chromecast: {
            appId: typeof (chromecastAppId) != 'undefined' ? chromecastAppId : '12D74D37',
          },
          csa: undefined,
          appError: false,
          appErrorCode: "Code 001" ,
          appErrorMessage: "Message erreur",
          
      }
    );

    </script>
</MySiteLayout>

