---
import BaseHead from '../components/BaseHead.astro';

const { title } = Astro.props

---
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <BaseHead title={title}/>
  </head>
  <body>
    <nav>
      <a href="/">VideoJS prod</a>
      <a href="/prodalchilmie">Alchimie Player Prod</a>    
      <a href="/noplugin">Alchimie Player NoPlugin</a> 
    </nav>
    <h1>{title}</h1>
    <article>
      <slot /> <!-- Votre contenu est injecté ici -->
    </article>
  </body>
</html>

<script>
  const navigation = document.querySelectorAll('nav a');
  console.log(location) ;
// Handle clicks on each button.
navigation.forEach((lien) => {
  if(lien.getAttribute("href")===location.pathname){
    lien.className+=" active";
  }
});
</script>

<style>
  nav{
    display: flex;
    border-bottom: 4px solid gray;
  }
  nav a{
    flex: 1;
    justify-content: center;
    white-space: nowrap;
    border-radius: 0;
    cursor: pointer;
    padding: 0.6rem 1rem;
    color: black;
    border-bottom: 4px solid transparent;
    margin-bottom: -4px;
    background-color: transparent;
    text-decoration: none;
  }

  nav a.active{
    color: orange;
    border-bottom-color: orangered;
    font-weight: 700;
  }
</style>