---
import BaseHead from '../components/BaseHead.astro';

const { title } = Astro.props

---
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <BaseHead title={title}/>
  </head>
  <body>
    <nav>
      <a href="/">VideoJS prod</a>
      <a href="/prodalchilmie">Alchimie Player Prod</a>    
      <a href="/noplugin">Alchimie Player NoPlugin</a> 
    </nav>
    <h1>{title}</h1>
    <article>
      <slot /> <!-- Votre contenu est injecté ici -->
    </article>
  </body>
</html>